table,th,td{
    border-radius: 2px;
    border: 2px solid rgb(248,248,248);
    border-collapse: collapse;
}
table{
    margin: 5% 10%;
    width: 40%;
    float: left;
}
th,td{
    padding: 10px;
}
th{
    background-color: #cfd8dc;
}
tr:nth-child(odd){
    background-color: rgb(245,245,245);
}
.form{
    border: 2px solid #b0bec5;
    margin: 5% auto;
    padding: 2%;
    width:25%;
    float: right;
}
.btn{
    position: relative;
    top:20px;
    left: 10%;
}
.container{
    width: 80%;
}
