.empInfo{
    margin: 5% 20%;
    border: 20px solid rgb(245,245,245);
    border-radius: 5px;
}
.empInfo div > div{
    padding: 2%;
    padding-left: 10%;
    padding-right: 0;
    border-bottom: 1px solid #cfd8dc;
}
.empInfo div div span{
    float: right;
    position: relative;
    right: 20%;
}
.empInfo div {
    box-shadow:  0 0 1px rgba(0,0,0,.05), 0 2px 3px 0 rgba(0,0,0,.1);
}
